<!-- <h1>{{title}}</h1>
<ul>
  <li *ngFor="let data of value">
   {{data.name}} ----
   {{data.age}}
  </li>
</ul> -->
<!-- <button class="btn btn-info" (click)="onFur()">Furniture</button>
<button class="btn btn-warning" (click)="onFoot()">Footware</button>
<button class="btn btn-danger" (click)="onElect()">Electronics</button>
<button class="btn btn-primary" (click)="onCloth()">Cloth</button> -->
<div class="products">
  
<button class="btn btn-info"  *ngFor="let data of uniqueAges" (click)="onClick(data)" >{{data}}</button>
<ul *ngFor="let data of productDet">
  
  <li>
      <div class="card" style="background-color: rgb(233, 221, 221); width:30%; padding: 20px;">   
        <div class="col-sm-4"><img [src]= "data['img']" alt="" class="img-responsive" style="max-height: 250px;"></div>
           <span>Category : {{data['category']}}</span>
           <!-- <span> <img [src]= "data['img']" alt=""class="img-responsive" style="max-height: 80px;"></span> -->
           <span>Name : {{data['name']}}</span>  
           <span>Price : {{data.price}} </span>
           <span>Color :  {{data.color}}</span>
           <span>Size :{{data.size}} </span>
         </div>  
     </li>
</ul>

</div>
<!-- <div>
 <app-electronic *ngIf="elect == true"></app-electronic>
 <app-cloth *ngIf="cloth == true"></app-cloth>
 <app-footware *ngIf="fut == true"></app-footware>
 <app-furniture *ngIf="fur == true"></app-furniture>
</div> -->

<!-- <app-footer></app-footer> -->